<h1>All participations</h1>

<table class='table_participations'>
  <thead>
    <th>Game Date</th>
    <th>Player Name</th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= game.date.strftime("%a, %d %b %Y") %>
        </td>
        <td>
        <ul>
          <% game.participations.map do |p| %>
            <li>
              <%= p.player.name %>
            </li>
          <% end %>
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
