<h1>All participations</h1>

<table>
  <thead>
    <th>Game Date</th>
    <th>Player Name</th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= game.date.strftime("%a, %d %b %Y") %>
        </td>
        <td>
          <%= game.participations.map { |p| p.player.name } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
