<div class="navbar">
  <a href="/"><i class="fa-regular fa-house"></i></a>
</div>
<h1>All participations</h1>

<table class='table_participations'>
  <thead>
    <th id='left'>Dates</th>
    <th>Noms des joueurs</th>
    <th id='right'>Équipes</th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td>
          <%= game.date.strftime("%a, %d %b %Y") %>
        </td>
        <td>
          <ul>
            <% game.participations.map do |p| %>
              <li>
                <%= p.player.first_name %>
                <%= p.player.first_name %>
              </li>
            <% end %>
          </ul>
        </td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
