<h1>Upcoming Games</h1>
<% @games.each do |game| %>
  <%= form_with(url: create_or_destroy_participation_path(token: @player.token, game_id: game.id), method: :post, local: true, remote: true) do |form| %>
    <%= submit_tag game.date.strftime("%A"), class: "confirm-button",
      data: { player_token: @player.token || 'No player found', game_id: game.id || 'No game found'} %>
  <% end %>
<% end %>









<script>
  const buttons = document.querySelectorAll('.confirm-button');

  // load page with appropriate button colors
  document.addEventListener('DOMContentLoaded', (event) => {
    console.log('content loaded');
    // select buttons

    buttons.forEach((button) => {
      playerToken = button.dataset.playerToken;
      gameId = button.dataset.gameId;
      fetch(`/players/${playerToken}/games/${gameId}/participation_exists`)
      .then(response => response.json())
      .then(data => {
        console.log(data.exists);
        if (data.exists) {
          button.style.backgroundColor = 'green';
        } else {
          button.style.backgroundColor = 'white';
        }
      })
    })
  });

  // change button colors when click
  buttons.forEach((button) => {
    playerToken = button.dataset.playerToken;
    gameId = button.dataset.gameId;

    button.addEventListener('click', (event) => {
      event.preventDefault();
      fetch(`/players/${playerToken}/games/${gameId}/participation_exists`)
      .then(response => response.json())
      .then(data => {
        if (data.exists) {
          console.log(data.exists);
          button.style.backgroundColor = 'green';
          button.form.submit(); // This manually submits the form
        } else {
          console.log(data.exists);
          button.style.backgroundColor = 'white';
          button.form.submit(); // This manually submits the form
        }
      })
    })
  })

</script>







<%# document.addEventListener('DOMContentLoaded', function() {
  const buttons = document.querySelectorAll('.confirm-button');

  buttons.forEach(button => {
    button.addEventListener('click', function(event) {
      event.preventDefault(); // Prevent the form submission

      const gameId = this.dataset.gameId;
      const playerToken = this.dataset.player;
      console.log('clicked')
      fetch(`/games/${gameId}/participations?token=${playerToken}`, {
        method: 'POST', // Assume every click toggles participation status
        headers: {
          'Content-Type': 'application/json',
          'Accept': 'application/json'
        },
        body: JSON.stringify({ player_id: playerToken })
      })
      .then(response => response.json())
      .then(data => {
        console.log(data.message); // Log the server response message
        updateButtonColor(button, data.message);
      })
      .catch(error => console.error(error));
    });
  });

  function updateButtonColor(button, message) {
    if (message.includes("added")) {
      button.style.backgroundColor = 'blue';
    } else {
      button.style.backgroundColor = 'pink';
    }
  }
}); %>
