.form-container {
  width: auto;
}

.form-center {
  display: flex;
  justify-content: center;
}

.form-justify {
  display: flex;
  width: 100%;
  justify-content: center;
}

.input-field {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  flex-grow: 1;
}

.input-field::placeholder {
  font-size: 14px;
}
