.form-container {
  width: 100%;
}

.form-center {
  display: flex;
  justify-content: center;
}

.form-justify {
  display: flex;
  width: 100%;
}

.input-field {
  padding: 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  border: 1px solid black;
  flex-grow: 1;
}
