/* app/assets/stylesheets/custom.css */

/* légende */
.legende-container {
  display: flex;
  justify-content: center;
}

.legende-container p {
  margin: 0;
}
.text-aligned {
  display: flex;
}

.left {
  margin-right: 20px;
}

.color-unconfirmed {
  background-color: #007bff;
}

.color-confirmed {
  background-color: #023e7f;
}

.colors {
  margin: 0 10px;
}

/* buttons */
.confirm-button {
  display: block;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 15px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #023e7f;
}

/* Container for buttons */
.button-container {
  display: grid;
  margin: 0 auto;
  justify-items: center;
  margin: 30px;
}

.button-container-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/* Small screens: Stack buttons vertically */
@media (max-width:700px) {
  .button-container {
    /* background-color: red; */
    grid-template-columns: 1fr;
  }

  .colors {
    width: 15px;
    height: 15px;
    border-radius: 2px;
  }
}

/* Medium screens and large screens: Two buttons side by side */
@media (min-width: 701px) {
  .button-container {
    width: 600px;
    grid-template-columns: 1fr 1fr;
  }

  .colors {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }

}
