
/* Applies to all tables with the 'table_participations' class */
.table_participations {
  width: 100%; /* Set the width of the table to fill the container */
  border-collapse: collapse; /* Ensures borders between cells are shared */
}

.table_participations th, .table_participations td {
  border: 1px solid black; /* Adds borders around each cell */
  padding: 8px; /* Adds space around text in each cell */
  text-align: left; /* Aligns text to the left */
}

.table_participations th {
  background-color: #575656; /* Sets a light grey background for headers */
  color: white;
}

.table_participations tbody tr:nth-child(odd) {
  background-color: #e9e9e9; /* Optional: Adds a light background to every other row */
}
.table_participations li {
  list-style: none;
}

.table_participations ul {
  padding: 0;
}
